<div class='card'>
    <div class='card-header'>
        {{ pageTitle }}
    </div>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table bill-table' *ngIf='bills && bills.length'>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Memo</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Products Count</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let bill of bills' [routerLink]="['/bills', bill.billId]">
                        <td>{{ bill.date | date:'MM/dd/yyyy'}}</td>
                        <td><a [routerLink]="['/bills', bill.billId]">{{ bill.memo }}</a></td>
                        <td>{{ bill.company }}</td>
                        <td>{{ bill.city }}, {{ bill.country }}</td>
                        <td>bill type</td>
                        <td>bill products count</td>
                        <td>bill total price</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>